<h1>Listing investments</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Wallet</th>
    <th>Auction</th>
  </tr>

<% @investments.each do |investment| %>
  <tr>
    <td><%=h investment.quantity %></td>
    <td><%=h investment.wallet_id %></td>
    <td><%=h investment.auction_id %></td>
    <td><%= link_to 'Show', investment %></td>
    <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
    <td><%= link_to 'Destroy', investment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New investment', new_investment_path %>