<p>
  <b>Quantity:</b>
  <%=h @investment.quantity %>
</p>

<p>
  <b>Wallet:</b>
  <%=h @investment.wallet_id %>
</p>

<p>
  <b>Auction:</b>
  <%=h @investment.auction_id %>
</p>


<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>