%h1
  Listing wallets
%table
  %tr
    %th
      Name
    %th
      User
  - @wallets.each do |wallet|
    %tr
      %td
        = h wallet.name
      %td
        = h wallet.user_id
      %td
        = link_to 'Show', wallet
      %td
        = link_to 'Edit', edit_wallet_pathwal(let)
      %td
        = link_to 'Destroy', wallet, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New wallet', new_wallet_path
